/PatimonProject1/bin/
/PatimonProject1/obj/
/PatimonProject2/bin/
/PatimonProject2/obj/
/PatimonProject3/bin/
/PatimonProject3/obj/
/PatimonProject4/bin/
/PatimonProject4/obj/
/PatimonProject5/bin/
/PatimonProject5/obj/
/PatimonProject6/bin/
/PatimonProject6/obj/
/PatimonProject7/bin/
/PatimonProject7/obj/
/PatimonProject8/bin/
/PatimonProject8/obj/
/PatimonProject9/bin/
/PatimonProject9/obj/
